<section class="flex items-center justify-center min-h-screen">
    <div class="text-center max-w-4xl mx-auto px-4">
      <h1 class="text-4xl md:text-6xl lg:text-7xl font-black mb-2 tracking-tighter leading-none text-shadow-glow-subtle">
        Akash <span class="font-garamond font-normal">Kaung Htet Cho</span>
      </h1>
      <p class="text-xl md:text-2xl font-semibold mb-8">
        <span class="text-gray-600 dark:text-[#C9C9C9]">AI Engineer& </span>
        <span class="bg-gradient-to-r from-[#9C83FF] to-[#FF9051] text-transparent bg-clip-text">Designer</span>
      </p>
      <div class="flex justify-center space-x-4 mb-12">
        <a href="https://github.com/akashblsbrmnm/" class="button button-filled flex items-center space-x-2">
          <span>GitHub</span>
          <i data-lucide="github" class="w-5 h-5"></i>
        </a>
        <a href="mailto:akashblsbrmnm@gmail.com" class="button button-outlined flex items-center space-x-2">
          <span>Contact Me</span>
          <i data-lucide="mail" class="w-5 h-5"></i>
        </a>
      </div>
    </div>
    <div class="chevron-down">
      <i data-lucide="chevron-down" class="w-8 h-8"></i>
    </div>
  </section>