<section id="links" class="section py-16">
    <div class="container mx-auto px-4">
      <h2 class="text-3xl font-bold mb-16 text-center font-space-mono">Connect with me</h2>
      <nav class="nav-container">
        <a href="https://github.com/akashblsbrmnm" class="nav-link text-xl md:text-2xl text-gray-600 dark:text-gray-400 font-bold">
          <i data-lucide="github" class="w-6 h-6"></i> Github
        </a>
        <a href="/resume" class="nav-link text-xl md:text-2xl text-gray-600 dark:text-gray-400 font-bold">
          <i data-lucide="file-text" class="w-6 h-6"></i> Resume
        </a>
        <a href="https://www.linkedin.com/in/akash-balasubhramanyam/" class="nav-link text-xl md:text-2xl text-gray-600 dark:text-gray-400 font-bold">
          <i data-lucide="linkedin" class="w-6 h-6"></i> LinkedIn
        </a>
        <a href="https://instagram.com/akashblsbrmnm" class="nav-link text-xl md:text-2xl text-gray-600 dark:text-gray-400 font-bold">
          <i data-lucide="instagram" class="w-6 h-6"></i> Instagram
        </a>
        <a href="https://x.com/akashblsbrmnm" class="nav-link text-xl md:text-2xl text-gray-600 dark:text-gray-400 font-bold">
          <i data-lucide="twitter" class="w-6 h-6"></i> X/Twitter
        </a>
        <a href="https://medium.com/@akashblsbrmnm" class="nav-link text-xl md:text-2xl text-gray-600 dark:text-gray-400 font-bold">
          <i data-lucide="book-open" class="w-6 h-6"></i> Blog
        </a>
        <a href="mailto:akashatworkk@gmail.com" class="nav-link text-xl md:text-2xl text-gray-600 dark:text-gray-400 font-bold">
          <i data-lucide="mail" class="w-6 h-6"></i> Contact
        </a>
      </nav>
    </div>
  </section>